<style media="screen">
.cate-intro {
    background: url(__PUBLIC__/Images/bg.jpg) no-repeat center;
    background-size: 100% auto;
    width: 100%;
    text-align: center;
    height: 160px;
    line-height: 160px;
    color: #fff;
    font-size: 50px;
    letter-spacing: 8px;
}
</style>
<div>
    <div class="cate-intro">
        {$category_name}
    </div>

    <volist name="art_list" id="art">
        <div class="article-list">
            <h2><a href="__URL__/article/artid/{$art.art_id}">{$art.title}</a></h2>
            <h4>由<a href="#">{$art.username}</a>发表于 {$art.pub_time}</h4>
            <p class="preview-art">{$art.short_content}
                <a href="__URL__/article/artid/{$art.art_id}">阅读全文</a>
            </p>
        </div>
    </volist>
    <br>
    <div class="div-page">
        {$div_page}
    </div>
</div>
