/* 管理分类 */
.add-category {
    margin-top: 10px;
    text-align: center;
}
.add-category input[type='text'] {
    padding: 5px 10px;
    border: 2px solid rgb(34, 148, 73);
}
.add-category input[type='submit'] {
    margin-left: 10px;
    padding: 5px 20px;
    background-color: rgb(34, 148, 73);
    color: #fff;
    cursor: pointer;
}
.add-category input[type='submit']:hover {
    background-color: rgb(30, 120, 50);
}
